.body {
  height: 300vh;
}

.block {
  background-color: red;
}

.block:hover {
  background-color: yellow;
  cursor: pointer;
}

li:first-child {
  background-color: red;
}

li:last-child {
  background-color: red;
}

li:nth-child(3) {
  background-color: blue;
}

a:visited {
  background-color: green;
}

#block::before {
  content: "BEFORE";
  color: red;
}

#block::after {
  content: "AFTER";
  color: purple;
}

.block2 {
  width: 400px;
  height: 200px;
  background-color: grey;
  /* border-left: 5px blue solid;
  border-radius: 5px; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  padding-left: 5px;
}

.block2::before {
  content: "";
  width: 5px;
  height: 200px;
  background-color: blue;
  position: absolute;
  left: 0;
  border-radius: 5px;
}

.parent {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.child {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}

.grandson {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  right: 0;
}
